.liquichain-gateway-icon {
  vertical-align: bottom;
  height: 24px;
}
label .liquichain-gateway-icon{
  float:right;
}
.liquichain-gateway-icon svg{
  float:right;
}
.liquichain_custom_icon{
  padding:1em;
}
#mol-paypal-settings-icon{
  margin-left:1em;
}
